Package: nems-tv
Essential: yes
Priority: required
Section: main
Maintainer: NEMS Linux <nems@category5.tv>
Architecture: all
Version: 1.6.003
Provides: nems-tv
Description: NEMS TV Dashboard
Depends: apache2
